.crea{
    color: black;
    text-align: center;
    text-decoration: underline black;
}
.jeux{
    color: black;
    text-align: center;
    text-decoration: underline black;
}


.comm{
    color: black;
    text-align: center;
    text-decoration: underline black;
}
.coding{
    color: black;
    text-align: center;
    text-decoration: underline black;
}




.texteanimation{
    text-align: center;
}
.textejeuxvideos{
    text-align: center;
}
.textecrea{
    text-align: center;
}
.textecoding{
    text-align: center;
}
.textecommunication{
    text-align: center;
}